<h1>Header work</h1>

<button (click)="toggleMe()">Toggle me!</button>
<br>
<ng-container *ngIf="isShow" >
  <app-lifecycle-hook [changes]="changes">
    <p #contentView>Hello world!</p>
  </app-lifecycle-hook>
</ng-container>
<br>
<!-- <input #inputFocus type="text" [(ngModel)]="changes"> -->
<br>
<br>
<span>{{time | date: 'fullDate'}}</span>
<br>
<span>{{money | currency: 'VND'}}</span>

<input type="text" appAutoFocus>

<!-- <div>
  Số thứ nhất : <input type="number" class="form-control" [(ngModel)]="num1">
  Số thứ hai : <input type="number" class="form-control" [(ngModel)]="num2">
</div>
<button type="button" class="btn btn-primary" (click)="totalNumber()">Tính tổng</button> -->
