<header class="size-page">
    <div class="header">
        <div class="header-content bg-white">
            <div class="header-content--box">
                <div class="content--box-hover" id="content--box-hover" #item >
                  <i class="box-hover-item fa-solid fa-magnifying-glass"></i>
                  <input class="box-hover-item"  type="text" placeholder="Search..." (focus)="onFocus()" (blur)="onBlur()" appFocusinput>
                </div>
            </div>
            <div class="header-content--box">
                  <div class="login">
                    <a href="#">
                    <i class="login-item font-22 fa-solid fa-circle-user"></i>
                    </a>
                    <p class="login-item login-item-title">Log In</p>
                  </div>
                  <div class="cart">
                    <i class="font-22 fa-solid fa-bag-shopping"></i>
                  </div>
            </div>
        </div>
        <div class="header-content bg-page">
            <nav class="nav-header-content">
              <p class="name-shop font-22">
                PRICKLES & CO.
              </p>
              <div class="nav-menu--item nav-menu--hover">
                  <p>Shop</p>
                    <ul class="hover-list">
                        <li class="hover-list-item">
                          <p>
                            Cacti
                          </p>
                        </li>
                        <li class="hover-list-item">
                          <p>
                            Plants
                          </p>
                        </li>
                        <li class="hover-list-item">
                          <p>
                            Succulents
                          </p>
                        </li>
                    </ul>
              </div>
              <div class="nav-menu--item">
                <p>About</p>
              </div>
              <div class="nav-menu--item">
                <p>FAQ</p>
              </div>
              <div class="nav-menu--item">
                <p>Contact</p>
              </div>
            </nav>
            <div class="nav-header-content">
              <p class="nav-header-content-title " #title1 [class.active]="onActive1">Call Us Now! 123-456-7890</p>
              <p class="nav-header-content-title active" #title2 [class.active]="onActive2">We Deliver to Your Doorste</p>
            </div>
        </div>
    </div>
  </header>
  <app-home-page></app-home-page>
