<div class="admin-shop">
  <div class="admin-shop-option">
    <p>
      Product
    </p>
  </div>
  <div class="admin-navbar">
    <button class="btn-add-new" (click)="openModalCreateCategory()">Create New</button>
    <div class="search-product">
      <i class="box-hover-item fa-solid fa-magnifying-glass"></i>
      <input class="form-control" id="search" type="text"
             name="searchValue"
             placeholder="Search..."
             [(ngModel)]="searchValue"
             (ngModelChange)="Search()">
    </div>
    <div class="search-product--content-filter">
      <p>Collection:</p>
      <select class="form-select" aria-label="Default select example" (change)="filterProductItem($event)">
        <option class="select-item" value="">All category</option>
        <option *ngFor="let category of categoryList" class="select-item" [value]="category.categoryName">
          {{category.categoryName}}</option>
      </select>
    </div>
    <div class="search-product--content">
      <div class="search-product--content-filter">
        <p>Sort By:</p>
        <select class="form-select" aria-label="Default select example" (change)="sortProductItem($event)">
          <option class="select-item" value="">Best Match</option>
          <option *ngFor="let data of listSortValue" class="select-item" value="{{data.sate}}">
            {{data.title}}</option>
        </select>
      </div>
    </div>
  </div>
  <div class="table-list">
    <table class="table table-hover table-bordered">
      <thead>
        <tr class="table-tr">
          <th>ID</th>
          <th>Name</th>
          <th>Image</th>
          <th>Description</th>
          <th>Price</th>
          <th>Action</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let data of productList | paginate: {itemsPerPage: 6, currentPage: pagination}">
          <td>{{ data.id }}</td>
          <td class="text-nowrap">{{ data.productName }}</td>
          <td class="table-img">
            <a href="{{data.productImg}}" target="_blank">
              <img src="{{data.productImg}}" alt="image{{data.productName}}">
            </a>
          </td>
          <td class="table-des">{{ data.productDesc }}</td>
          <td>{{ data.productPrice | currency : 'USD'}}</td>
          <td>
            <div class="action-btn">
              <i class="table-icon fa-solid fa-pen " tooltipClass="tool-tip-font" placement="top" ngbTooltip="Edit product" (click)="openModalEditProduct(data)"></i>
              <i class="table-icon fa-solid fa-trash" placement="top" ngbTooltip="Delete product" (click)="onDeleteProduct(data)"></i>
            </div>
          </td>
        </tr>
      </tbody>
    </table>
    <pagination-controls class="pagination" (pageChange)=" pagination = $event"></pagination-controls>
  </div>
</div>

<!-- Modal-Add -->
<div class="modal-container" #modalCreateAndEdit>
  <div class="overlay" #overlay (click)="closeModal()"></div>
  <div class="modal-box">
    <div class="modal-content">
      <ng-container *ngIf="isCreate">
        <div class="modal-content-header">
          Create New Product
          <div class="icon-close">
            <i class="fa-solid fa-xmark" (click)="closeModal()"></i>
          </div>
        </div>
      </ng-container>
      <ng-container *ngIf="!isCreate">
        <div class="modal-content-header">
          Edit Product
          <div class="icon-close">
            <i class="fa-solid fa-xmark" (click)="closeModal()"></i>
          </div>
        </div>
      </ng-container>
      <form [formGroup]="productForm">
        <div class="form-content">
          <label for="product-type"> Product type: </label>
          <select class="form-select" aria-label="Default select example" formControlName="productType">
            <option selected disabled>Select type</option>
            <option *ngFor="let data of categoryList" class="form-control" value="{{data.categoryName}}">
              {{data.categoryName}}</option>
          </select>
        </div>
        <div class="form-content">
          <label for="product-name"> Product name: </label>
          <input class="form-control"
                 id="product-name"
                 type="text"
                 formControlName="productName"
                 placeholder="Name:">
        </div>
        <div class="form-content">
          <div class="preview-img">
            <label for="product-img"> Product image: </label>
              <input class="form-control"
                     id="product-img"
                     type="file"
                     (change)="onFileSelected($event)">
            <ng-container *ngIf="productImage != ''">
              <a href="{{productImage}}" target="_blank">
                <img src="{{productImage}}" alt="{{productImage}}">
              </a>
            </ng-container>
          </div>
          <div class="overlayUpload" #loading>
            <div class="spin-upload">
              <div class="spinner-border" role="status">
                <span class="visually-hidden">Loading...</span>
              </div>
            </div>
          </div>
        </div>
        <div class="form-content">
          <label for="product-desc"> Product description: </label>
          <textarea row="1" class="form-control"
                    id="product-desc" type="text"
                    formControlName="productDesc"
                    placeholder="Description:">
          </textarea>
        </div>
        <div class="form-content">
          <label for="product-price"> Product price: </label>
          <input class="form-control"
                 id="product-price" type="number"
                 formControlName="productPrice"
                 placeholder="Price:"
                 >
        </div>
        <div class="btn-card">
          <button class="btn-list" (click)="Save()" type="submit">Save</button>
        </div>
      </form>
    </div>
  </div>
</div>
<app-toasts aria-live="polite" aria-atomic="true"></app-toasts>
