
@use '../../../styles.scss';

/* Btn reuse */
@mixin btn ($btn: styles.$color-dark-blue) {
  background-color: $btn;
  border-style: none;
  color: #fff;
  padding: 10px 30px;
  transition: all ease-in-out 0.3s;
  cursor: pointer;
  font-size: 1.5rem;
  white-space: nowrap;

  &:hover {
    background-color: #d0b0a6;
    transition: all ease-in-out 0.3s;
    color: #444;
  }

  &:active {
    background-color: #a05841;
    box-shadow: 0 2px #666;
  }
}

.btn-list {
  @include btn;
  width: 100%;
}

.btn-sub {
  margin: 0 12px;
  border: 2px solid #444;
  padding: 12px 32px;
}

.btn-sub:nth-child(3) {
  background-color: #888;

  &:hover {
    background-color: #fff;
    transition: all ease-in-out 0.3s;
    color: #444;
  }

  &:active {
    background-color: #888;
    box-shadow: 0 2px #666;
  }
}

.plants {
  position: relative;

  .back-shop-all {
    text-decoration: none;
    color: #fff;
    font-size: 1.6rem;
    transition: all ease-in-out 0.3s;
    &:hover {
      color: #b88878;
      transition: all ease-in-out 0.3s;
    }
  }

  .category-title {
    padding-top: 100px;
    text-align: center;
    text-transform: uppercase;
    color: styles.$color-dark-blue;
    h1 {
        font-size: 4.5rem;
    }
  }

  .product-list {
    padding: 24px 0;
    text-align: center;
  }

  .product-list-item {
    padding: 4px 0;
    color: styles.$color-dark-blue;
    font-size: 1.6rem;
    a {
        text-decoration: none;
      }
  }

  .product-list-item--img {
    width: 100%;
    height: 267px;

    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }
}

.banner-bg {
  background-image: url('../../../assets/images/banner-plants3.webp');
  background-attachment: fixed;
  background-size: 100%;
  object-fit: cover;
  background-repeat: no-repeat;
  height: 100vh;
  background-color: styles.$bg-overlay;
  -webkit-background-size: 100%;
  -moz-background-size: cover;
  -o-background-size: cover;
  z-index: -1;
  background-blend-mode: overlay;
}

.banner-box {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  color: #fff;
}

.banner-box--title {
  margin-top: 24px;
  width: 100%;

  .title-name {
    font-size: 7.4rem;
    padding: 0 136px;
  }

  .title-desc {
    font-size: 1.6rem;
    vertical-align: baseline;
    word-wrap: break-word;
    overflow-wrap: break-word;
    padding: 0 218px;
  }
}

.down-icon {
  i {
    font-size: 4.0rem;
    cursor: pointer;
  }
}

.search-product--content {
  display: flex;
  justify-content: right;
  font-size: 1.6rem;

  .search-product--content-filter {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 24px;

    .form-check {
      margin: 0 24px;
    }

    p {
      white-space: nowrap;
    }

    .form-select {
      background-color: transparent;
      border: none;
      font-size: 1.6rem;
    }

    .form-select:focus {
      outline: none;
      border-style: none;
      box-shadow: none;
    }
  }
}
.pagination {
  text-align: center;
  color: styles.$color-dark-blue;
  justify-content: center;
  font-size: 1.6rem;
}

:host ::ng-deep .ngx-pagination .current {
  background-color: rgba(18, 49, 50);
}

/* Small devices (landscape phones, 576px and up) */

@media (min-width: 576px) {}

/* Mobile */

@media (max-width: 739px) {

  .search-product,
  .search-product--content {
    display: initial !important;
  }

  .search-product--content-filter {
    padding: 0 24px;
  }

  .product-list {
    margin: 0;
  }

  .product-list-content {
    padding: 16px 0;
  }

}

/* Mobile & Tablet */

@media (max-width: 1023px) {
  .title-name {
    padding: 0px !important;
    font-size: 5rem !important;
  }

  .banner-bg {
    height: 50vh;
    background-attachment: inherit;
  }

  .category-title {
    padding-top: 20px !important;
  }
}

/* Tablet */

@media (min-width: 740px) and (max-width: 1023px) {}

/* IPad pro */

@media only screen and (min-device-width: 1024px)
and (max-device-width: 1024px)
and (orientation: portrait)
and (-webkit-min-device-pixel-ratio: 2) {
  .product-list-item {
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
  }
}
