<div class="check-out size-page">
  <ng-container *ngIf="listItemCheckOut.length <= 0">
    <div class="cart-empty ">
      <p>Cart is empty</p>
      <a routerLink="/product-list">Continue Shopping</a>
    </div>
  </ng-container>
  <ng-container *ngIf="listItemCheckOut.length >= 1">
    <div class="user-info" *ngIf="userCheckOut">
      <h1>Delivery information</h1>
      <p>{{userCheckOut.userName}}</p>
      <p>Phone: {{userCheckOut.phoneNumber}}</p>
    </div>
    <div class="check-out-container row gx-5">
        <section class="check-out-content col-7">
          <p class="check-out-content--title border-bd">My Cart</p>
          <div class="cart-list border-bd">
            <ng-container *ngFor="let data of listItemCheckOut">
              <div class="row gx-4 cart-list-box">
                <div class="cart-list-item col-8">
                  <div class="cart-list-details">
                    <div class="cart-list-details--img">
                      <a href="{{data.productImg}}" target="_blank">
                        <img src="{{data.productImg}}" alt="cart-img">
                      </a>
                    </div>
                    <div class="cart-list-details--info">
                      <p>{{data.productName}}</p>
                      <span>{{data.productPrice | currency: 'USD'}}</span>
                    </div>
                  </div>
                  <div class="list-detail-input">
                    x{{data.qty}}
                  </div>
                </div>
                <div class="cart-list-item col-4">
                  <div></div>
                  <p class="subtatol-item">
                    {{data.productPrice * data.qty | currency: 'USD'}}
                  </p>
                </div>
              </div>
            </ng-container>
          </div>
        </section>
        <section class="check-out-content col-5">
          <p class="check-out-content--title border-bd">
            Subtotal
          </p>
          <div class="cart-order">
            <div class="cart-order-box border-bd">
              <div class="cart-order-item">
                <p class="py-2">Subtotal</p>
                <div class="cart-oder-shipping">
                  <p class="py-2">Shipping</p>
                </div>
              </div>
              <div class="cart-order-item">
                <p class="py-2">{{cartTotal | currency: 'USD'}}</p>
                <p class="py-2">FREE</p>
              </div>
            </div>
            <div class="cart-order-box">
              <p class="py-4 fs-5">Total</p>
              <p class="py-4 fs-5">{{cartTotal | currency: 'USD'}}</p>
            </div>
            <button class="btn-checkout" (click)="open(content)">Checkout</button>
            <div class="cart-oder-secure"><i class="fa-solid fa-lock"></i>Secure Checkout</div>
          </div>
        </section>
    </div>
  </ng-container>
  <ng-template #content let-modal>
      <div class="modal-header">
        <h4 class="modal-title" id="modal-basic-title">Delivery information update</h4>
        <button type="button" class="btn-close" aria-label="Close" (click)="modal.dismiss()"></button>
      </div>
      <div class="modal-body">
        <form [formGroup]="formUpdateInfo">
          <div class="form-content py-1">
            <label for="user-name"> Name: </label>
            <input type="text"  class="form-control" id="user-name"  formControlName="userName" >
          </div>
          <div class="form-content py-1">
            <label for="phone-number"> Phone number: </label>
            <input type="number" class="form-control" id="phone-number" formControlName="phoneNumber">
          </div>
          <div class="form-content py-1">
            <label for="province"> Provincial: </label>
            <select class="form-select" id="province" aria-label="Default select example" formControlName="province" required>
              <option *ngFor="let data of listProvinces" class="form-control" [value]="data.province">
                {{data.province}}
              </option>
            </select>
            <div *ngIf="province?.invalid && (province?.touched || province?.dirty)" role="alert" class="alert alert-danger">
              <div *ngIf="province?.hasError('required')">
                Select your province!
              </div>
            </div>
          </div>
          <div class="form-content py-1">
            <label for="text-note"> Specific address: </label>
            <div>
              <textarea name="text-note" id="text-note" formControlName="specificAddress" cols="55" rows="2"
                placeholder="Your specific address information."></textarea>
            </div>
            <div *ngIf="specificAddress?.invalid && (specificAddress?.touched || specificAddress?.dirty)" role="alert" class="alert alert-danger">
              <div *ngIf="specificAddress?.hasError('required')">
                Please enter your specific address!
              </div>
            </div>
          </div>
          <div class="form-content py-1">
            <label for="text-note"> Note: </label>
            <div>
              <textarea name="text-note" id="text-note" formControlName="textNote" cols="55" rows="2"
                placeholder="Instructions? Special requests? Add them here."></textarea>
            </div>
          </div>
        </form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn-checkout" (click)="checkOut()">Save</button>
      </div>
  </ng-template>
</div>
<app-toasts aria-live="polite" aria-atomic="true"></app-toasts>
