<div class="admin-shop">
  <div class="admin-shop-option">
    <p>
      Category
    </p>
  </div>
  <button class="btn-add-new" (click)="openModalCreateCategory()">Create New</button>
  <div class="table-list">
    <table class="table table-hover table-bordered">
      <thead>
        <tr class="table-tr">
          <th>ID</th>
          <th>Category Name</th>
          <th>Image</th>
          <th>Edit</th>
          <th>Delete</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let data of listCategory">
          <td>{{ data.categoryId }}</td>
          <td>{{ data.categoryName }}</td>
          <td class="table-img">
            <a href="{{data.categoryImg}}" target="_blank">
                <img src="{{data.categoryImg}}" alt="image{{data.categoryName}}">
            </a>
            </td>
          <td><i class="table-icon fa-solid fa-pen" (click)="openModalEditCategory(data)"></i></td>
          <td><i class="table-icon fa-solid fa-trash" (click)="onDeleteCategory(data)"></i></td>
        </tr>
      </tbody>
    </table>
  </div>
</div>

<!-- Modal-Add -->
<div class="modal-container" #modalCreateAndEdit>
  <div class="overlay" #overlay (click)="closeModal()"></div>
  <div class="modal-box">
    <div class="modal-content">

      <ng-container *ngIf="isCreate">
        <div class="modal-content-header">
          Create New Category
          <div class="icon-close">
            <i class="fa-solid fa-xmark" (click)="closeModal()"></i>
          </div>
        </div>
      </ng-container>
      <ng-container *ngIf="!isCreate">
        <div class="modal-content-header">
          Edit Category
          <div class="icon-close">
            <i class="fa-solid fa-xmark" (click)="closeModal()"></i>
          </div>
        </div>
      </ng-container>
      <form [formGroup]="categoryForm" (ngSubmit)="Save()">
          <div class="form-content">
            <label for="id-category"> Category ID: </label>
            <input class="form-control" id="id-category" type="number" formControlName="categoryId" placeholder="Id:">
          </div>
          <div class="form-content">
            <label for="category-name"> Category Name: </label>
            <input class="form-control" id="category-name" type="text" formControlName="categoryName" placeholder="Name:">
          </div>
          <div class="form-content">
            <label for="category-img"> Category Image: </label>
            <input class="form-control" id="category-img" type="file" (change)="onFileSelected($event)">
            <div class="overlayUpload" #loading>
              <div class="spin-upload">
                <div class="spinner-border" role="status">
                  <span class="visually-hidden">Loading...</span>
                </div>
              </div>
            </div>
          </div>
          <div class="btn-card">
            <button class="btn-list" type="submit">Save</button>
          </div>
      </form>
    </div>
  </div>
</div>
