<div class="admin-shop">
  <div class="admin-shop-option">
    <p>
      Product
    </p>
  </div>
  <div class="admin-navbar">
    <button class="btn-add-new" (click)="openModalCreateCategory()">Create New</button>
    <div class="search-product">
      <i class="box-hover-item fa-solid fa-magnifying-glass"></i>
      <input class="form-control" id="search" type="text"
             name="searchValue"
             placeholder="Search..."
             [(ngModel)]="searchValue"
             (ngModelChange)="Search()">
    </div>
  </div>
  <div class="table-list">
    <table class="table table-hover table-bordered">
      <thead>
        <tr class="table-tr">
          <th>ID</th>
          <th>Name</th>
          <th>Image</th>
          <th>Description</th>
          <th>Price</th>
          <th>Edit</th>
          <th>Delete</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let data of listProduct">
          <td>{{ data.productId }}</td>
          <td class="text-nowrap">{{ data.productName }}</td>
          <td class="table-img">
            <a href="{{data.productImg}}" target="_blank">
              <img src="{{data.productImg}}" alt="image{{data.productName}}">
            </a>
          </td>
          <td class="table-des">{{ data.productDesc }}</td>
          <td>{{ data.productPrice | currency : 'USD'}}</td>
          <td><i class="table-icon fa-solid fa-pen" (click)="openModalEditCategory(data)"></i></td>
          <td><i class="table-icon fa-solid fa-trash" (click)="onDeleteCategory(data)"></i></td>
        </tr>
      </tbody>
    </table>
  </div>
</div>

<!-- Modal-Add -->
<div class="modal-container" #modalCreateAndEdit>
  <div class="overlay" #overlay (click)="closeModal()"></div>
  <div class="modal-box">
    <div class="modal-content">
      <ng-container *ngIf="isCreate">
        <div class="modal-content-header">
          Create New Product
          <div class="icon-close">
            <i class="fa-solid fa-xmark" (click)="closeModal()"></i>
          </div>
        </div>
      </ng-container>
      <ng-container *ngIf="!isCreate">
        <div class="modal-content-header">
          Edit Product
          <div class="icon-close">
            <i class="fa-solid fa-xmark" (click)="closeModal()"></i>
          </div>
        </div>
      </ng-container>
      <form [formGroup]="productForm" (ngSubmit)="Save()">
        <div class="form-content">
          <label for="id-product"> Product ID: </label>
          <input class="form-control" id="id-product" type="number" formControlName="productId" placeholder="Id:">
        </div>
        <div class="form-content">
          <label for="product-type"> Product Type: </label>
          <select class="form-select" aria-label="Default select example" formControlName="productType">
            <option selected disabled>Select type</option>
            <option *ngFor="let data of listCategory" class="form-control"  value="{{data.categoryName}}">
              {{data.categoryName}}</option>
          </select>
        </div>
        <div class="form-content">
          <label for="product-name"> Product Name: </label>
          <input class="form-control" id="product-name" type="text" formControlName="productName" placeholder="Name:">
        </div>
        <div class="form-content">
          <div class="product-img">
            <label for="product-img"> Product Image: </label>
              <input class="form-control" id="product-img" type="file" (change)="onFileSelected($event)">
            <ng-container *ngIf="productPicture != ''">
              <a href="{{productPicture}}" target="_blank">
                <img src="{{productPicture}}">
              </a>
            </ng-container>
          </div>
          <div class="overlayUpload" #loading>
            <div class="spin-upload">
              <div class="spinner-border" role="status">
                <span class="visually-hidden">Loading...</span>
              </div>
            </div>
          </div>
        </div>
        <div class="form-content">
          <label for="product-desc"> Product Description: </label>
          <textarea row="1" class="form-control" id="product-desc" type="text" formControlName="productDesc" placeholder="Description:"></textarea>
        </div>
        <div class="form-content">
          <label for="product-price"> Product Price: </label>
          <input class="form-control" id="product-price" type="number" formControlName="productPrice" placeholder="Price:">
        </div>
        <div class="btn-card">
          <button class="btn-list" type="submit">Save</button>
        </div>
      </form>
    </div>
  </div>
</div>
