
@use '../../../../styles.scss';

.size-page {
  width: 100%;
}
.dashboard{
  .admin-title {
    font-size: 2.4rem;
  }
  .dashboard-menu-left {
    background-color: #fff;
    bottom: 0;
    left: 0;
    top: 0;
    position: fixed;
    width: 260px;
    color: styles.$color-dark-blue;

    .menu-left--title {
      font-size: 2.4rem;
      border-top: 1px solid styles.$color-dark-blue;
      padding: 4px 24px;
    }
    .menu-left--list {
      color: styles.$color-dark-blue;
      list-style: none;
      font-size: 1.6rem;

      .menu-left--list-item{
        padding: 4px 24px;
        transition: all ease-in-out 0.4s;
        cursor: pointer;
        &:hover {
          background-color: rgba($color: #999, $alpha: 0.2);
        }
      }
      .menu-left--list-item.active {
        background-color: rgba($color: #999, $alpha: 0.2);
      }
    }
  }
}

.dashboard-content-box {
  padding-left: 58px;
  .dashboard-handle {
    width: 100%;
    height: 100%;
    background-color: #fff;
  }
}
