/* You can add global styles to this file, and also import other style files */
html{
  box-sizing: border-box;
  font-family: Arial,
  Helvetica,
  sans-serif;
  scroll-behavior: smooth;
}

ul,li,p,h1,h2,h3,h4,h5,h6,ol,button {
  padding: 0;
  margin: 0;
}

$bg-white: rgb(255 255 255);
$color-text-brown: rgb(160, 88, 65);
$bg-page: #ededee;
$bg-color-green: rgb(18 49 50);
$color-dark-blue: #123132;
$bg-overlay: rgba(18, 49, 50, 0.4);

body {
  background-color: $bg-page !important;
}
input {
  box-sizing: border-box;
}

.size-page {
  width: 1200px;
  width: calc(100% - 50px - 50px);
  margin: auto;
}

.bg-page {
  background-color: $bg-page ;
}

.pd-tb-18 {
  padding: 18px 0;
}


