/* You can add global styles to this file, and also import other style files */

html{
  font-family: Arial,
  Helvetica,
  sans-serif;
  scroll-behavior: smooth;
  box-sizing: border-box;
  font-size: 62.5%;
}
ul,li,p,h1,h2,h3,h4,h5,h6,ol,button {
  padding: 0;
  margin: 0;
}

input {
  box-sizing: border-box;
}

$bg-white: rgb(255 255 255);
// $color-text-brown: rgb(160, 88, 65);
$bg-page: #ededee;
$bg-color-green: rgb(18 49 50);
$color-dark-blue: rgb(18, 48, 49);
$bg-overlay: rgba(18, 49, 50, 0.3);

body {
  background-color: $bg-page !important;
}

.bg-page {
  background-color: $bg-page ;
}

.pd-tb-18 {
  padding: 18px 0;
}

.pd-top{
  top: 56px;
}

/* Small devices (landscape phones, 576px and up) */

@media (min-width: 576px) {}


/* Mobile */

@media (max-width: 739px) {
  .pd-top {
      top: 0px;
    }
}


/* Mobile & Tablet */

@media (max-width: 1023px) {
  .size-page {
      width: calc(100% - 10px - 10px);
  }
}


/* Tablet */

@media (min-width: 740px) and (max-width: 1023px) {}


/* IPad pro */

@media only screen and (min-device-width: 1024px)
and (max-device-width: 1024px)
and (orientation: portrait)
and (-webkit-min-device-pixel-ratio: 2) {

}
