<div class="product-details size-page">
  <div class="product-details--container">
    <div class="product-details--content">
      <div class="content-item" *ngFor="let data of itemDetail">
        <a  routerLink="/home-page">Home</a> <span class="path-url">/</span>
        <ng-container *ngIf="url">
          <a routerLink="/product-list">Shop all</a> <span class="path-url">/</span>
        </ng-container>
        <ng-container *ngIf="data.productType == 'cacti'">
          <a  routerLink="/cacti">Cacti</a> <span class="path-url">/</span>
        </ng-container>
        <ng-container *ngIf="data.productType == 'plants'">
          <a routerLink="/plant">Plant</a> <span class="path-url">/</span>
        </ng-container>
        <ng-container *ngIf="data.productType == 'succulents'">
          <a routerLink="/succulents">Succulent</a> <span class="path-url">/</span>
        </ng-container>
      <p class="path-url-title">{{data.productName}}</p>
      </div>
     <!--  <div class="content-item">
        <div class="prev"><i class="fa-solid fa-chevron-left"></i>Prev</div> |
        <div class="next">Next <i class="fa-solid fa-chevron-right"></i></div>
      </div> -->
    </div>
    <div class="product-details--content">
      <ng-container *ngFor="let data of itemDetail">
        <div class="product-box">
          <div class="slider-one">
            <a href="{{data.productImg}}" target="_blank">
            <img class="details-img" src="{{data.productImg}}"
                 alt="image-product {{data.productName}}">
            </a>
          </div>
          <div class="slider-one--click">
            <div class="img-click ">
                <img src="{{data.productImg}}" alt="image-product {{data.productName}}">
            </div>
          </div>
          <div class="product-share">
            <p>Share:</p>
            <div>
              <a href="//www.facebook.com/sharer/sharer.php?u=" target="_blank">
                <i class="fa-brands fa-facebook"></i>
              </a>
              <a href="https://plus.google.com/share?url=" target="_blank">
                <i class="fa-brands fa-google"></i>
              </a>
            </div>
          </div>
          <p class="product-desc">{{data.productDesc}}</p>
        </div>
        <div class="product-box">
          <p class="product-box--name">{{data.productName}}</p>
          <div class="product-index">
            <p class="product-item">SKU: {{data.productId}}</p>
          </div>
          <p class="product-item">{{data.productPrice | currency: '$'}}</p>
          <div class="product-item">
            <label>Quantity</label>
            <br>
            <div class="product-item-input">
              <span (click)="decrementItem()">-</span>
              <p>{{qty}}</p>
              <!-- <input type="number" value=""> -->
              <span (click)="incrementItem()">+</span>
            </div>
          </div>
          <div class="product-item">
            <button class="btn-buy" (click)="addProductToCart(data)">Add to cart</button>
            <button class="btn-buy" (click)="buyProductToCart(data)">Buy Now</button>
          </div>
          <div class="accordion accordion-flush" id="accordionFlushExample">
            <div class="accordion-item product-item">
              <h2 class="accordion-header" id="flush-headingOne">
                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                  data-bs-target="#flush-collapseOne" aria-expanded="false" aria-controls="flush-collapseOne">
                  PRODUCT INFO
                </button>
              </h2>
              <div id="flush-collapseOne" class="accordion-collapse collapse" aria-labelledby="flush-headingOne"
                data-bs-parent="#accordionFlushExample">
                <div class="accordion-body"><p>I'm a product detail. I'm a great place to add more information about your product such as sizing, material, care and
                cleaning instructions. This is also a great space to write what makes this product special and how your customers can
                benefit from this item.
                </p></div>
              </div>
            </div>
            <div class="accordion-item product-item">
              <h2 class="accordion-header" id="flush-headingTwo">
                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                  data-bs-target="#flush-collapseTwo" aria-expanded="false" aria-controls="flush-collapseTwo">
                  RETURN & REFUND POLICY
                </button>
              </h2>
              <div id="flush-collapseTwo" class="accordion-collapse collapse" aria-labelledby="flush-headingTwo"
                data-bs-parent="#accordionFlushExample">
                <div class="accordion-body"><p>I’m a Return and Refund policy. I’m a great place to let your customers know what to do in case they are dissatisfied
                with their purchase. Having a straightforward refund or exchange policy is a great way to build trust and reassure your
                customers that they can buy with confidence.
                </p></div>
              </div>
            </div>
            <div class="accordion-item product-item">
              <h2 class="accordion-header" id="flush-headingThree">
                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                  data-bs-target="#flush-collapseThree" aria-expanded="false" aria-controls="flush-collapseThree">
                  SHIPPING INFO
                </button>
              </h2>
              <div id="flush-collapseThree" class="accordion-collapse collapse" aria-labelledby="flush-headingThree"
                data-bs-parent="#accordionFlushExample">
                <div class="accordion-body"><p>I'm a shipping policy. I'm a great place to add more information about your shipping methods, packaging and cost.
                Providing straightforward information about your shipping policy is a great way to build trust and reassure your
                customers that they can buy from you with confidence.
              </p></div>
              </div>
            </div>
          </div>
        </div>
      </ng-container>
    </div>
    <div class="product-slider">
        <p class="product-slider--title mb-5">RELATED PRODUCT</p>
        <ngx-slick-carousel class="carousel" #slickModal="slick-carousel" [config]="slideConfig" responsive="responsive">
          <div ngxSlickItem *ngFor="let data of listProduct">
              <div class="list-product">
              <div class="product-slide-item">
                <a [routerLink]="['','product-list','details', data.id]" [queryParams]="{page: data.id}" fragment="plant">
                  <img class="product-slide-img" src="{{data.productImg}}" alt="Image{{data.productName}}">
                </a>
                <div class="product-slide-details">
                  <p>{{data.productName}}</p>
                  <div class="slider-line">
                    <p></p>
                  </div>
                  <p>{{data.productPrice | currency}}</p>
                </div>
              </div>
            </div>
          </div>
        </ngx-slick-carousel>
    </div>
  </div>
</div>
<ng-container>
  <app-add-to-cart #openCart></app-add-to-cart>
</ng-container>
