@use '../../../styles.scss';

/* Btn reuse */
@mixin btn ($btn: styles.$color-text-brown) {
  background-color: $btn;
  border-style: none;
  color: #fff;
  padding: 12px 60px;
  transition: all ease-in-out 0.3s;
  cursor: pointer;
  font-size: 15px;
  white-space: nowrap;

  &:hover {
    background-color: #d0b0a6;
    transition: all ease-in-out 0.3s;
    color: #444;
  }

  &:active {
    background-color: #a05841;
    box-shadow: 0 2px #666;
  }
}

.btn-buy {
  @include btn;
  margin: 8px 0;
  width: 100%;
}

.btn-buy:nth-child(2) {
  background-color: styles.$color-dark-blue;
  transition: all ease-in-out 0.3s;
  opacity: 1;
  &:hover {
    color: #fff;
    transition: all ease-in-out 0.3s;
    opacity: 0.8;
  }
}

.product-details {
  position: relative;
  top: 112px;
  background-color: styles.$bg-white;
}

.product-details--container {
  padding: 60px 110px;

  .product-details--content {
    display: flex;
    margin: 0 -16px;
    padding: 30px 0;
    justify-content: space-between;
  }

  .product-desc {
    padding: 12px 0;
  }
  .product-box {
    padding: 0 16px;
    width: 100%;

    p {
      color: styles.$color-text-brown;
    }

    .slider-one {
      border: 1px solid styles.$color-text-brown;
    }

    .details-img {
      width: 100%;
      object-fit: cover;
    }

    .img-click {
      margin: 0 12px;
      cursor: pointer;
      img {
        width: 60px;
        object-fit: cover;
        border: 1px solid styles.$color-text-brown;

      }
    }

    .product-box--name {
      font-size: 26px;
    }

    .product-index {
      display: flex;
      align-items: center;
      color: styles.$color-text-brown;

      span {
        padding: 0 8px;
      }
    }

    .product-item {
      font-size: 16px;
      padding: 12px 0;
      color: styles.$color-text-brown;
    }


    .product-item-input {
       display: flex;
       justify-content: space-between;
       width: 80px;
       margin-top: 8px;
       padding: 4px;
       color: styles.$color-text-brown;
       border: 1px solid styles.$color-text-brown;
       user-select: none;
       -moz-user-select: none;
       -webkit-user-select: none;

       span {
         opacity: 0.6;
         cursor: pointer;
       }
     }
  }

  .content-item {
    padding: 0 16px;
    display: flex;
    color: styles.$color-text-brown;
    a {
      text-decoration: none;
      color: styles.$color-text-brown;
    }

    .path-url {
      padding: 0 4px;
    }

    .path-url-title {
      opacity: 0.6;
    }

    .prev,
    .next {
      padding: 0 6px;
      i {
        padding: 0 4px;
      }
    }
  }
}

.slider-one--click {
  display: flex;
  margin-top: 6px;
}

.product-slider {
  margin: 0 -12px;

  .product-slider--title {
    text-align: center;
    color: styles.$color-text-brown;
  }
  .list-product {
    padding: 0 12px ;
  }
  .product-slide-item {
    border: 1px solid styles.$color-text-brown;
    overflow: hidden;

    .product-slide-img{
      width: 100%;
      height: 100%;
      object-fit: cover;
      transition: transform ease-in-out 0.3s;

      &:hover {
        -ms-transform: scale(1.2);
        -webkit-transform: scale(1.2);
        transform: scale(1.2);
      }
    }
  }
  .product-slide-details {
    text-align: center;
    color: styles.$color-text-brown;
    font-size: 1rem;
    padding: 12px 0;
    position: relative;

    .slider-line {
      display: flex;
      justify-content: center;
      padding: 6px 0;

      p {
        border-bottom: 1px solid styles.$color-text-brown;
        width: 20px;

      }
    }
  }
}

.product-share {
  padding-top: 10px;
  display: flex;
  align-items: center;

    a {
      display: inline-block;
      margin:  0 6px;
      color: styles.$color-text-brown;
      text-decoration: none;
    }
    i {
     font-size: 22px;
    }
}

.accordion-button {
  color: styles.$color-text-brown;
}

.accordion-button::after {
  color: styles.$color-text-brown !important;
}


.accordion-button:focus {
  z-index: 3;
  border-color: rgb(160, 88, 65);
  outline: 0;
  box-shadow: 0 0 0 0.25rem rgb(160 88 65 / 25%);
}

.accordion-button:not(.collapsed) {
  color: styles.$color-text-brown;
  background-color: #fff;
  box-shadow: inset 0 -1px 0 rgb(0 0 0 / 13%);
}

:host ::ng-deep .slick-prev:before,
:host ::ng-deep .slick-next:before {
  color: #000;
  font-size: 2.2rem;
}

:host ::ng-deep .slick-prev,
:host ::ng-deep .slick-next {
}

:host ::ng-deep .slick-next {
  right: -15px;
}

:host ::ng-deep .slick-prev {
  left: -30px;
}
