<div class="product-details size-page">
  <div class="product-details--container">
    <div class="product-details--content">
      <div class="content-item" *ngFor="let data of itemDetail">
        <a  routerLink="/home-page">Home</a> <span class="path-url">/</span>
        <ng-container *ngIf="url">
          <a routerLink="/product-list">Shop all</a> <span class="path-url">/</span>
        </ng-container>
        <ng-container *ngIf="data.productType == 'cacti'">
          <a  routerLink="/cacti">Cacti</a> <span class="path-url">/</span>
        </ng-container>
        <ng-container *ngIf="data.productType == 'plants'">
          <a routerLink="/plant">Plant</a> <span class="path-url">/</span>
        </ng-container>
        <ng-container *ngIf="data.productType == 'succulents'">
          <a routerLink="/succulents">Succulent</a> <span class="path-url">/</span>
        </ng-container>
      <p class="path-url-title">{{data.productName}}</p>
      </div>
     <!--  <div class="content-item">
        <div class="prev"><i class="fa-solid fa-chevron-left"></i>Prev</div> |
        <div class="next">Next <i class="fa-solid fa-chevron-right"></i></div>
      </div> -->
    </div>
    <div class="product-details--content">
      <ng-container *ngFor="let data of itemDetail">
        <div class="product-box">
          <div class="slider-one">
            <a href="{{data.productImg}}" target="_blank">
            <img class="details-img" src="{{data.productImg}}"
                 alt="image-product {{data.productName}}">
            </a>
          </div>
          <div class="slider-one--click">
            <div class="img-click ">
                <img src="{{data.productImg}}" alt="image-product {{data.productName}}">
            </div>
          </div>
          <div class="product-share">
            <p>Share:</p>
            <div>
              <a href="//www.facebook.com/sharer/sharer.php?u=" target="_blank">
                <i class="fa-brands fa-facebook"></i>
              </a>
              <a href="https://plus.google.com/share?url=" target="_blank">
                <i class="fa-brands fa-google"></i>
              </a>
            </div>
          </div>
          <p class="product-desc">{{data.productDesc}}</p>
        </div>
        <div class="product-box">
          <p class="product-box--name">{{data.productName}}</p>
          <div class="product-index">
            <p class="product-item">SKU: {{data.id}}</p>
          </div>
          <p class="product-item">{{data.productPrice | currency: '$'}}</p>
          <div class="product-item">
            <label>Quantity</label>
            <br>
            <div class="product-item-input">
              <span (click)="decrementItem()"><i class="fa-solid fa-minus"></i></span>
              <p>{{qty}}</p>
              <!-- <input type="number" value=""> -->
              <span (click)="incrementItem()"><i class="fa-solid fa-plus"></i></span>
            </div>
          </div>
          <div class="product-item">
            <button class="btn-buy" (click)="addProductToCart(data)">Add to cart</button>
            <button class="btn-buy" (click)="buyProductToCart(data)">Buy Now</button>
          </div>
          <div>
            <p>Each purchase you make is vital to the preservation of the gardens and furthering the horticultural and educational
                  mission of The PRICKLES & CO. If you have enjoyed your visit to the gardens, our nursery or appreciate our
                  mission, your support insures PRICKLES & CO Farm remains a place of inspiration, education, and reconnection for
                  generations
                  to come.
            </p>
            <ngb-accordion #acc="ngbAccordion" [closeOthers]="true">
              <ngb-panel title="PICKUP & DELIVERY INFORMATION">
                <ng-template ngbPanelContent>
                  <p>All items on Prickles&co.com are for pickup or local delivery within 50 miles. Pickup is available at 18 Ton That
                    Thuyet • Ha Noi. You can call 0565-523-445 to verify your order pickup date.
                  </p>
                </ng-template>
              </ngb-panel>
              <ngb-panel title="RETURN & REFUND POLICY">
                <ng-template ngbPanelContent>
                  <p>If the product is defective or does not match the order, please contact us directly via the hotline: 0565-523-445 for
                    advice.
                  </p>
                </ng-template>
              </ngb-panel>
            </ngb-accordion>
          </div>
        </div>
      </ng-container>
    </div>
    <div class="product-slider">
        <p class="product-slider--title mb-5">YOU MAY ALSO LIKE</p>
        <ngx-slick-carousel class="carousel" #slickModal="slick-carousel" [config]="slideConfig" responsive="responsive">
          <div ngxSlickItem *ngFor="let data of listProduct">
              <div class="list-product">
              <div class="product-slide-item">
                <a (click)="details(data)">
                  <img class="product-slide-img" src="{{data.productImg}}" alt="Image{{data.productName}}">
                </a>
                <div class="product-slide-details">
                  <p>{{data.productName}}</p>
                  <div class="slider-line">
                    <p></p>
                  </div>
                  <p>{{data.productPrice | currency}}</p>
                </div>
              </div>
            </div>
          </div>
        </ngx-slick-carousel>
    </div>
  </div>
</div>
<ng-container>
  <app-add-to-cart #openCart></app-add-to-cart>
</ng-container>
<app-toasts aria-live="polite" aria-atomic="true"></app-toasts>
