<footer class="footer size-page">
    <div class="footer-top">
        <ul class="footer-top--contact">
          <li class="contact-item">
              <h1>OUR STORE</h1>
          </li>
          <li class="contact-item">
            <p>Address: 8fl, IDMC Tower, Ton That Thuyet str, Hanoi, Vietnam.</p>
          </li>
          <li class="contact-item">
            <p>Street Ha Noi</p>
          </li>
          <li class="contact-item">
            <p>Phone: 123-456-7890</p>
          </li>
          <li class="contact-item">
            <p>Email: hoangthoang0309@gmail.com</p>
          </li>
        </ul>
        <ul class="footer-top--contact">
          <li class="contact-item">
            <h1>OPENING HOURS</h1>
          </li>
          <li class="contact-item">
            <p>Mon - Fri: 7am - 10pm</p>
          </li>
          <li class="contact-item">
            <p>​​Saturday: 8am - 10pm</p>
          </li>
          <li class="contact-item">
            <p>​Sunday: 8am - 11pm</p>
          </li>
        </ul>
        <ul class="footer-top--contact">
          <li class="contact-item">
            <h1>HELP</h1>
          </li>
          <li class="contact-item">
            <p>
              <a href="#">Shipping & Returns</a>
            </p>
          </li>
          <li class="contact-item">
            <p>
              <a href="#">Privacy Policy</a>
            </p>
          </li>
          <li class="contact-item">
            <p>
              <a href="#">FAQ</a>
            </p>
          </li>
        </ul>
    </div>
    <div class="footer-middle">
        <div class="footer-middle--box">
          <div class="footer-middle--box-content">
            <h1 class="footer-middle--box-title">SUBSCRIBE</h1>
            <p class="footer-middle--box-email">Enter your email here *</p>
            <div class="footer-middle--box-item">
                <input type="email">
                <button type="button" class="btn-footer-middle">Subscribe Now</button>
             </div>
          </div>
        </div>
        <div class="footer-middle--social">
          <div>
            <div class="social-item">
              <div class="social-icon">
                <a target="blank" href="https://www.facebook.com/hoangvanthoang1st" >
                  <i class="fa-brands fa-facebook-f"></i>
                </a>
              </div>
              <div class="social-icon">
                <a href="#" >
                  <i class="fa-brands fa-pinterest-p"></i>
                </a>
              </div>
              <div class="social-icon">
                <a href="#" >
                  <i class="fa-brands fa-instagram"></i>
                </a>
                <p></p>
              </div>
            </div>
          </div>
        </div>
    </div>
    <!-- <div class="footer-map">
      <div class="map" #mapElement>
      </div>
    </div> -->
  </footer>
<div class="end-title">
  <span>
    © 2022 by Prickles & Co. Proudly created with: thoanghv
  </span>
</div>


