<div class="shop-all size-page">
  <div class="shop-all-product">
    <h1>Shop all</h1>
  </div>
    <button class="btn-list btn-sub" (click)="sub()">Subscribe</button>
    <button class="btn-list btn-sub" (click)="unSub()">Unsubscribe</button>
  <div class="product-list">
    <div class="product-list-content" *ngFor="let data of productList">
      <div class="product-list-item">
        <p>{{data.prdName}}</p>
      </div>
      <div class="product-list-item">
        <img src="{{data.image}}" alt="image">
      </div>
      <div class="product-list-item">
        <p>Description</p>
      </div>
      <div class="product-list-item">
        <button class="btn-list" [routerLink]="['details', data.id]" [queryParams]="{page: data.id}" fragment="plant">
          Details
        </button>
      </div>
    </div>
  </div>
</div>
