<div class="shop-all size-page">
    <div class="banner-bg">
        <div class="banner-box">
          <div>
            <div class="banner-box--title">
              <h1 class="title-name pd-tb-18 ">EVERYTHING THAT GROWS IN OUR GARDEN</h1>
              <p class="title-desc pd-tb-18 ">I'm a paragraph. Click here to add your own text and edit me. It’s easy. Just click “Edit Text” or double click me to
              add your own content and make changes to the font. I’m a great place for you to tell a story and let your users know a
              little more about you.</p>
            </div>
            <div class="pd-tb-18">
              <div class="down-icon" >
                  <i (click)="goList()" class="fa-solid fa-circle-chevron-down"></i>
              </div>
            </div>
          </div>
        </div>
    </div>
    <div class="shop-all--title" id="product">
      <h1>Shop all</h1>
    </div>
    <div class="search-product">
      <div class="search-product--content">
        <div class="search-product--input">
          <i class="fa-solid fa-magnifying-glass"></i>
          <input type="text" class="input-search" [(ngModel)]="searchValue" (ngModelChange)="searchProduct()" placeholder="Search...">
        </div>
        <div class="search-product--content-filter">
          <div class="form-check" *ngFor="let data of categoryList">
              <input class="form-check-input" type="checkbox" value="{{data.categoryName}}"
                      (change)="filterProductItem($event)">
              <label class="form-check-label" for="flexCheckDefault">
                {{data.categoryName}}
              </label>
          </div>
          <!-- <div class="form-check">
            <input class="form-check-input" type="checkbox"
                   [(ngModel)]="filter.plant"
                   (ngModelChange)="filterProductItem()">
            <label class="form-check-label" for="flexCheckDefault">
              Plants
            </label>
          </div>
          <div class="form-check">
            <input class="form-check-input" type="checkbox"
                   [(ngModel)]="filter.succulent"
                   (ngModelChange)="filterProductItem()">
            <label class="form-check-label" for="flexCheckDefault">
              Succulents
            </label>
          </div>
          <div class="form-check">
            <input class="form-check-input" type="checkbox"
                   [(ngModel)]="filter.cacti"
                   (ngModelChange)="filterProductItem()">
            <label class="form-check-label" for="flexCheckDefault">
              Cacti
            </label>
          </div> -->
        </div>
       <!--  <p>Select Category: </p>
        <select class="form-select" aria-label="Default select example">
          <option class="select-item" selected>All</option>
          <ng-container *ngFor="let category of categoryList">
            <option class="select-item" [(ngModel)]="filter" (ngModelChange)="filterProductItem()" value="{{category.categoryId}}">{{category.categoryName}}</option>
          </ng-container>
        </select> -->
      </div>
      <div class="search-product--content">

      </div>
    </div>
    <div class="product-list row gx-4 gy-5" >
      <ng-container *ngIf="isNull">
        <p class="search-not-found">
          No results found!
        </p>
      </ng-container>
      <div class="product-list-content col-3" *ngFor="let data of productList">
        <div class="product-list-item">
          <a [routerLink]="['details', data.id]" [queryParams]="{page: data.id}" fragment="plant">
            <img src="{{data.productImg}}" onerror="this.src='../../assets/images/senda2.webp'" alt="image">
          </a>
        </div>
        <div class="product-list-item">
          <p>{{data.productName}}</p>
        </div>
        <div class="product-list-item">
          <p>{{data.productPrice | currency:'USD':'symbol'}}</p>
        </div>
        <div class="product-list-item product-list-item--flex">
          <button class="btn-list" (click)="openAddToCart()">
            Add to cart
          </button>
          <!-- <button class="btn-list " [routerLink]="['details', data.id]" [queryParams]="{page: data.id}" fragment="plant">
            Detail
          </button> -->
        </div>
      </div>
    </div>
<ng-container >
    <app-add-to-cart #openCart></app-add-to-cart>
</ng-container>
