<div class="cacti container gx-0">
  <div class="banner-bg">
    <div class="banner-box">
      <div>
        <a class="back-shop-all" routerLink="/product-list"> <i class="fa-solid fa-angles-left"></i> Shop all</a>
        <div class="banner-box--title">
          <h1 class="title-name pd-tb-18 ">HAVE YOURSELF A CACTUS</h1>
          <p class="title-desc pd-tb-18 "></p>
        </div>
        <div class="pd-tb-18">
          <div class="down-icon">
            <i (click)="goList()" class="fa-solid fa-circle-chevron-down"></i>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="category-title" id="product">
      <h1>Cacti</h1>
  </div>
  <div class="search-product--content">
    <div class="search-product--content-filter">
      <p>Sort By:</p>
      <select class="form-select" aria-label="Default select example" (change)="sortProductItem($event)">
        <option class="select-item" value="">Best Match</option>
        <option *ngFor="let data of listSortValue" class="select-item" value="{{data.sate}}">
          {{data.title}}</option>
      </select>
    </div>
  </div>
  <div class="product-list row gx-4 gy-5">
      <div class="product-list-content col-lg-3 col-md-6 col-sm-12"
           *ngFor="let data of productList | paginate: {itemsPerPage: 8, currentPage: pagination}"
      >
        <div class="product-list-item">
          <a [routerLink]="['','product-list','details', data.id]">
            <img src="{{data.productImg}}"alt="image">
          </a>
        </div>
        <div class="product-list-item">
          <p>{{data.productName}}</p>
        </div>
        <div class="product-list-item">
          <p>{{data.productPrice | currency:'USD':'symbol'}}</p>
        </div>
        <div class="product-list-item product-list-item--flex">
          <button class="btn-list " (click)="openAddToCart(data)">
            Add to cart
          </button>
        </div>
      </div>
    </div>
    <pagination-controls class="pagination" (pageChange)=" pagination = $event"></pagination-controls>
</div>
<ng-container>
  <app-add-to-cart #openCart ></app-add-to-cart>
</ng-container>

