@use '../../styles.scss';

.bg-white {
  background-color: styles.$bg-white;
}

.font-22 {
  font-size: 22px;
}

.header {
  // width: calc(100% - 268px);
  // position: fixed;

  .header-content,
  .login {
    display: flex;
    height: 56px;
    justify-content: space-between;
    color: styles.$color-text-brown;
    align-items: center;
  }
}


.header-content--box {
  padding: 0px 12px;
  height: 100%;
  display: flex;
  align-items: center;

  .box-hover-item {
    border-style: none;
    padding: 0px 6px;
  }
}

::placeholder {
  color: styles.$color-text-brown;
}


.box-hover-item:focus {
  outline: none;
}


.content--box-hover {
  padding: 4px 0;
  border: 1px solid #fff;

  i {
    cursor: pointer;
  }

  &:hover {
    border: 1px solid styles.$color-text-brown;
  }
}

.login {
  a {
    text-decoration: none;
    color: styles.$color-text-brown;
  }
}

.login:hover {
  p {
    opacity: 0.8;
  }
}


.login-item {
  padding: 0px 6px;
  cursor: pointer;
}

.cart {
  padding-left: 22px;
  cursor: pointer;
}

.nav-header-content {
  display: flex;
  align-items: center;
  opacity: 1;
  transition: all ease-in-out 0.3s;

  .nav-menu--item {
    padding: 0 14px;
    font-size: 14px;
    transition: all ease-in-out 0.3s;
  }
}

.nav-menu--hover {
  position: relative;
}

.hover-list {
  background-color: styles.$bg-page;
  display: none;
  position: absolute;
  list-style: none;
  padding: 6px 0;
  left: 0px;
  transition: all ease-in-out 0.3s;

  .hover-list-item {
    padding: 6px 12px;

  }

  .hover-list-item a {
    transition: all ease-in-out 0.3s;
    cursor: pointer;

    &:hover {
      color: #000;
      transition: all ease-in-out 0.3s;
    }
  }
}

.nav-menu--hover:hover>.hover-list {
  display: block;
}

.name-shop {
  margin-right: 18px;
  cursor: pointer;
  transition: all ease-in-out 0.3s;
}

.name-shop,
.nav-menu--item a {
  cursor: pointer;
  text-decoration: none;
  color: styles.$color-text-brown;

  &:hover {
    color: #000;
    transition: all ease-in-out 0.3s;
  }
}

.nav-header-content-title {
  letter-spacing: 2px;
  font-size: 18px;
  font-weight: 500;
  margin-right: 10px;
  opacity: 1;
  transition: opacity ease-in-out 0.3s;
}

.actived {
  display: none;
  opacity: 0.7;
  transition: opacity ease-in-out 0.3s;
}

.active {
  color: #000 !important;
}
