
<div class="add-to-card" #addToCart >
  <div class="overlay" #overlay (click)="closeCart()"></div>
    <div class="add-to-cart__container" *ngFor="let data of listProductAddToCart">
      <div class="container--title">
        <div class="close-cart" (click)="closeCart()">
          <i class="fa-solid fa-xmark"></i>
        </div>
          <p class="container--name">CART</p>
      </div>
        <div class="add-to-cart__container--box">
          <ul class="add-to-cart__container--list" >
            <li class="container--list-item" >
                <div class="container--list-img">
                  <img src="{{data.productImg}}" alt="image-product">
                </div>
                <div class="container--list-detail">
                  <p>
                    {{data.productName}}
                  </p>
                  <p >
                    {{data.productPrice | currency: 'USD'}}
                  </p >
                  <div class="list-detail-input">
                    <span (click)="decrementItem()">-</span>
                      <p>{{qty}}</p>
                      <!-- <input type="number" ngModel min="1" value="{{qty}}"> -->
                    <span (click)="incrementItem()">+</span>
                  </div>
                </div>
              <div>
              </div>
            </li>
          </ul>
          <div class="subtotal-cart">
            <p>Subtotal</p>
            <span>{{cartTotal | currency: 'USD'}}</span>
          </div>
        </div>
        <div class="btn-view">
            <button class="btn-view-cart" type="button" (click)="closeCart()" (click)="addProductToCart(data)">Add to cart</button>
        </div>
    </div>
</div>
