
<div class="add-to-card" #addToCart >
  <div class="overlay" #overlay (click)="closeCart()"></div>
    <div class="add-to-cart__container" *ngFor="let data of listProductAddToCart">
      <div class="container--title">
        <div class="close-cart" (click)="closeCart()">
          <i class="fa-solid fa-xmark"></i>
        </div>
          <p class="container--name">CART</p>
      </div>
        <div class="add-to-cart__container--box">
          <div class="add-to-cart__container--list" >
            <div class="container--list-item row">
                <div class="container--list-img col-6">
                  <img src="{{data.productImg}}" alt="image-product">
                </div>
                <div class="container--list-detail col-6">
                  <p>
                    {{data.productName}}
                  </p>
                  <p >
                    {{data.productPrice | currency: 'USD'}}
                  </p >
                  <div class="list-detail-input">
                    <span (click)="decrementItem()"><i class="fa-solid fa-minus"></i></span>
                      <p>{{qty}}</p>
                    <span (click)="incrementItem()"><i class="fa-solid fa-plus"></i></span>
                  </div>
                </div>
              <div>
              </div>
            </div>
          </div>
          <div class="subtotal-cart">
            <p>Subtotal</p>
            <span>{{cartTotal | currency: 'USD'}}</span>
          </div>
        </div>
        <div class="btn-view">
            <button class="btn-view-cart" type="button" (click)="addProductToCart(data)">Add to cart</button>
        </div>
    </div>
</div>
<app-toasts aria-live="polite" aria-atomic="true"></app-toasts>
